<html>
<%- include(btu+"/templates/head.ejs") %>
<body>
    <%- include(btu+'/templates/header.ejs', {'search': 'expanded'}) %>
    <%- include(btu+'/templates/title.ejs', {'title': 'Search Results'}) %>
    <script>
        (function () {
            var cx = '016243117631483413932:ss7vx3ohicw';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:searchresults-only gname="everycss-search"></gcse:searchresults-only>
</body>
<script>
/*window.addEventListener("load", function()
{
    if (! window.location.hash) return;
    var input = document.querySelector("#gsc-i-id1");
    var button = document.querySelector("button.gsc-search-button");
    input.value = decodeURI(window.location.hash.substring(1));
    button.click();
})*/
var s;

window.addEventListener("load", function()
{
    s = google.search.cse.element.getElement("everycss-search");
    if (! window.location.hash) return;
    term = decodeURI(window.location.hash.substring(1));
    document.querySelector(".header .search input").value = term;
    s.prefillQuery(term);
    s.execute();
    /*setInterval(function() {
        s.prefillQuery("test" + Math.random() * 20);
        s.execute();
    }, 2000)*/
})

function fillGCS()
{
    if (!s) return;
    var term = document.querySelector(".header .search input").value;
    s.prefillQuery(term);
    s.execute();
}
</script>
</html>